<div style="display: flex; flex-direction: row;">

  <div style="width: 50vw; padding: 50px;">



    <form class="example-form">

      <h3 *ngIf="!isEdit">Add Todo</h3>
      <h3 *ngIf="isEdit">Edit Todo</h3>

      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="todo.title" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="todo.description" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <br>

      <button id="basic" type="button" mat-button mat-raised-button (click)="addTodo(todo)" *ngIf="!isEdit">
        Add Todo
      </button>

      <button id="basic" type="button" mat-button mat-raised-button (click)="saveEdit(todo)" *ngIf="isEdit">
        Save Todo
      </button>

    </form>

  </div>

  <div style="width: 50vw; padding: 50px;">

    <h3>Todo Table</h3>

    <table mat-table [dataSource]="todos" class="mat-elevation-z8">


      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button id="basic" type="button" mat-button mat-raised-button accent (click)="removeTodo(element)">
            Delete
          </button>

          <button id="basic" type="button" mat-button mat-raised-button accent (click)="updateTodos(element)">
            Edit
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

</div>